.app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #121212;
  color: #ffffff;
}
